* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h5 {
  font-family: "Inconsolata", monospace;
  position: absolute;
  width: 133px;
  height: 25px;
  left: 77px;
  top: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}
.image-div img {
  max-width: 540px;
  max-height: 450px;
  position: absolute;
  left: 5.35%;
  right: 57.21%;
  top: 24.54%;
  bottom: 34.03%;
}

.content-div h1 {
  font-family: Space Mono;
  position: absolute;
  width: 586px;
  height: 190px;
  left: 735px;
  top: 265px;

  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
}
.content-div p {
  font-family: Space Mono;
  position: absolute;
  width: 381px;
  height: 108px;
  left: 736px;
  top: 491px;

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
}
.content-div button {
  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
  /* Gray 1 */
  background: #333333;
  position: absolute;
  width: 130px;
  height: 21px;
  left: 783px;
  top: 687px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;

  position: absolute;
  width: 216px;
  height: 68px;
  left: 740px;
  top: 663px;
}

body {
  position: relative;
  width: 1440px;
  height: 1080px;
  background: #ffffff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
}
.meta-data {
  position: absolute;
  width: 226px;
  height: 17px;
  left: 607px;
  top: 1024px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #333333;
}

/* media break-point */
@media screen and (max-width: 400px) {
  body {
    position: relative;
    width: 375px;
    height: 949px;

    background: #ffffff;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
  }
  .image-div img {
    width: 286.83px;
    height: 238px;
    position: absolute;
    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 63.44%;
  }
  .content-div h1 {
    position: absolute;
    width: 350px;
    height: 142px;
    left: 24px;
    top: 407px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;

    /* Gray 1 */

    color: #333333;
  }
  .content-div p {
    position: absolute;
    width: 328px;
    height: 81px;
    left: 23px;
    top: 578px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4f4f4f;
  }
  .content-div button {
    position: absolute;
    width: 216px;
    height: 68px;
    left: 24px;
    top: 726px;
  }
  .meta-data {
    position: absolute;
    width: 226px;
    height: 17px;
    left: 75px;
    top: 890px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #333333;
  }
}
